{% extends 'base.html' %}


{% block content %}
<div class="content2">
    <h1>{{ user.username }}</h1>
{% if request.user == user %}
    <form action="{% url 'account:edit' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary">회원 수정</button>
    </form>

    <form action="{% url 'account:delete_account' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary">회원 탈퇴</button>
    </form>
    {% endif %}
</div>


{% endblock %}