{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block content %}
<div class="content2">
  
  <h1>로그인</h1>
  <form method="post" action="{% url 'account:login' %}">
    {% csrf_token %}
    {% include 'account/form_errors.html' %}
    <div>
      <label>사용자 ID</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label>비밀번호</label>
      <input type="password" name="password" id="password">
    </div>
    <button type="submit">로그인</button>
  </form>
  <a href="{% url 'account:signup' %}">회원가입</a>
</div>


{% endblock %}