{% extends 'base.html' %}

{% block content %}
<div class="content3">
    <h1>서버 주소</h1>
    <h2>JAVA : host.wltp.world:1105</h2><br>

    <h2>BEDROCK : host.wltp.world </h2>
    <h2>Port : 10001</h2><br>

    <h2>MAP : host.wltp.world:10002</h2>
</div>
<div class="content2">
    <h1>서버 플레이어 리스트트</h1>
    <br>
    <ol class="player" style="list-style: none;">
        {% for player in players %}
        <li class="player">
            <div >
                <a href="{{ player.skinurl }}">{{ player.nickname }}</a>
            </div>
            
            <div>
                <a href="{{ player.skinurl }}"><img src = "{{ player.img.url }}"></a>
            </div>
        </li>
        {% endfor %}
    </ol>

</div>

{% endblock %}