{% extends 'base.html' %}

{% block content %}
<div class="content2">
    <h1>현재 BETA 버전입니다!</h1>
    <h2>임페리움 야생 서버 건물 순위</h2>
    <br>
    <ol>
        {% for building in buildings %}
        <li>
            <div>
                이름 : {{ building.name }}
            </div>
            
            <div>
                점수 : {{ building.point }}
            </div>
            
            <div>
                <img src = "{{ building.img.url }}" style="height: 250px; width: 500px;">
            </div>
        </li>
        <br>
        {% endfor %}
    </ol>
</div>

{% endblock %}