{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}


{% block content %}
<div class="content2">
    나중에 업로드 예정
</div>
<!-- <div class="Up_Btn_box">
            <button class="Up_Btn">↑</button>
<span class="material-symbols-outlined Up_Btn">
    navigation
    </span>
</div> -->

{% endblock %}