{% extends 'base.html' %}

{% block content %}
<div class="content2">
    <h1>현재 BETA 버전입니다!</h1>
    <h2>임페리움 야생 서버 레드스톤 실력 순위</h2>
    <br>
    <ol>
        {% for player in players %}
        <li>
            <div>
                닉네임 : {{ player.nickname }}
            </div>
            
            <div>
                점수 : {{ player.point }}
            </div>
            
            <div>
                티어 : <img src = "{{ player.tier.url }}" style="height: 70px; width: 70px;">
            </div>
        </li>
        <br>
        {% endfor %}
    </ol>
</div>

{% endblock %}